<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>

    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
<div class="admin-container">

    <h1>Admin Dashboard</h1>

    <div class="admin-menu">
        <a th:href="@{/admin/courses}">Manage Courses</a>
        <a th:href="@{/register}">Add User (Register)</a>
    </div>

    <div class="admin-logout">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>

</div>
</body>
</html>
